[submodule "3rdParty/QBuildSystem"]
	path = 3rdParty/QBuildSystem
	url = https://github.com/Targoman/QBuildSystem.git
[submodule "3rdParty/TextProcessor"]
	path = 3rdParty/TextProcessor
	url = https://github.com/Targoman/TextProcessor.git
